.links{
    display:flex;
    margin:20px 20px;

}
ul{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    list-style-type:none;
    padding:0;
}
li a{
    overflow:hidden;
    color:#8b66b2;
    margin:0 20px 20px 0;
}
li a img{
    height:20rem;
    width:30rem;
    border: 1px solid whitesmoke;
    border-radius:1rem;
    margin:0.5rem;
    flex-direction:column;
}

li a:hover{
    opacity:0.9;
    cursor:pointer;
}

.description{
    color:black;
    width:32rem;
    align-items:center;
}
