<ul>
    <li *ngFor="let sculptor of sculptors">
        <a> 
            <img src="{{sculptor.imageUrl}}" alt=""> 
            <div class="content">
                <div class="name">
                    {{sculptor.name}}
                </div>
                <span class="favorite {{sculptor.favorite?'':'not'}}">
                  ♥  
                </span>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of sculptor.origins">
                            {{origin}}
                        </span>
                    </div>
                </div>
                <div class="rating">
                </div>
            </div>
        </a>
    </li>
</ul>
